aiohttp
aiosignal
asgiref
async-timeout
attrs
autopep8
blinker
cachetools
certifi
charset-normalizer
click
distlib
django
djangorestframework
filelock
Flask
frozenlist
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
multidict
mysql-connector-python
no2ml
numpy
oauthlib
openai
opencv-python
Pillow
platformdirs
protobuf
pyasn1
pyasn1-modules
pycodestyle
pyparsing
pytz
requests
requests-oauthlib
rsa
six
sqlparse
tqdm
tzdata
uritemplate
urllib3
virtualenv
Werkzeug
yarl
youtube-dl
youtube-transcript-api
gunicorn
